* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #afb0be;
    color: white;
}

h2 {
    color: blue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

h4 {
    color: blue;
    font-size: 20px;
    margin: 20px;
}

.contenedor {
    margin: 0 auto;
    max-width: 900px;
}

#contenedor-ofertas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 10px;
    margin-top: 2rem;
    margin: auto;

}

.card {
    text-align: center;
    border-radius: 5px;
    color: white;
    overflow: hidden;

}

.imagen-electro {
    width: 200px;
    margin: auto;
    object-fit: cover;
    object-position: center;

}

img {
    width: 100%;
}

.titulo-electro {}

.btn-favorito {
    
    padding: 5px;
    margin: 1rem 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.contenedor-carrito{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 10px;
    margin-top: 2rem;
    margin: auto;
}